.compatible-block {
  padding: 6.5rem 0 8rem;
  
  &__title {
    margin: 5rem 0 4rem;
    letter-spacing: .1em;
  }
  
  &__content {
    margin-bottom: 5rem;
    letter-spacing: .1em;
    line-height: 3rem;
  }
}