.companies-block {
  padding: 7rem 0 10rem;
  
  @include respond-to(lt-sm) {
    padding: 3rem 0 5rem;
  }
  
  &__title {
    margin-bottom: 8rem;
    
    @include respond-to(lt-sm) {
      margin-bottom: 5rem;
    }
  }
  
  &__item {
    margin-bottom: 3.5rem;
  }
}