.how-it-works {
  &__hero {
    padding-top: 5rem;
    
    .hero {
      &__title {
        margin: 7rem 0 2.5rem;
        
        @include respond-to(lt-sm) {
          margin: 3rem 0;
          
          &:after {
            background-color: palette(other, another-color-2);
            content: "";
            display: inline-block;
            height: .1rem;
            width: 11rem;
          }
        }
      }
      
      &__content {
        @include respond-to(lt-sm) {
          margin-bottom: 4rem;
          padding-left: 0;
          
          br {
            display: none;
          }
          
          &:before {
            content: none;
          }
        }
      }
      
      &__image {
        @include respond-to(lt-sm) {
          margin-bottom: 5rem;
        }
        
        img {
          display: block;
          
          @include respond-to(lt-sm) {
            display: inline-block;
          }
        }
      }
    }
  }
  
  &__steps {
    padding: 12rem 0 16rem;
    position: relative;
    
    @include respond-to(lt-sm) {
      padding: 16rem 0 6rem;
    }
    
    &.step {
      &--1 {
        .step {
          &__image,
          &__content {
            @include respond-to(lt-sm) {
              background-color: palette(other, dark);
            }
          }
        }
      }
      
      &--2 {
        .step {
          &__image,
          &__content {
            @include respond-to(lt-sm) {
              background-color: palette(primary);
            }
          }
        }
      }
      
      &--3 {
        .step {
          &__image,
          &__content {
            @include respond-to(lt-sm) {
              background-color: palette(other, light);
            }
          }
        }
      }
    }
    
    .step {
      &__image,
      &__content {
        @include respond-to(lt-sm) {
          padding: 2rem 0;
          position: relative;
          z-index: 2;
        }
      }
      
      &__content {
        display: inline-block;
        
        @include respond-to(lt-sm) {
          padding-bottom: 4rem;
          
          &, .paragraph {
            &:before {
              content: none;
            }
          }
        }
      }
      
      &__support {
        margin-top: 6rem;
        
        &-icon {
          svg {
            height: 5.5rem;
            width: 5.1rem;
            
            path {
              fill: palette(white);
            }
          }
          
        }
        
        &-button {
          margin-top: 2rem;
          
          .button {
            margin-left: 2rem;
            
            @include respond-to(xs) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  
  &__product {
    padding: 11.5rem 0 12rem;
    position: relative;
    
    .product {
      &__image {
        margin-bottom: 1.5rem;
        
        @include respond-to(xs) {
          overflow: hidden;
          
          img {
            margin-left: -40%;
            max-width: 180%;
            width: 180%;
          }
        }
      }
      
      &__content {
        margin-bottom: 6rem;
        
        @include respond-to(xs) {
          br {
            display: none;
          }
        }
      }
      
      &__buttons {
        .button {
          margin: 1rem;
          
          @include respond-to(xs) {
            margin: 1rem auto;
          }
        }
      }
      
      .shipping-disclaimer {
      
      }
    }
  }
  
  &__center {
    
    &:after {
      background-color: palette(white, light);
      content: "";
      height: 80%;
      height: calc(100% - 11rem);
      left: 50%;
      position: absolute;
      top: 14rem;
      transform: translateX(-50%);
      width: .2rem;
      z-index: 1;
      
      @include respond-to(lt-sm) {
        height: 90%;
        height: calc(100% - 9rem);
        top: 10rem;
      }
      
      .product & {
        content: none;
      }
    }
    
    &-icon {
      left: 50%;
      position: absolute;
      top: 6rem;
      transform: translateX(-50%);
      z-index: 1;
      
      @include respond-to(lt-sm) {
        top: 3rem;
      }
      
      svg {
        height: 5.2rem;
        width: 4rem;
        
        path {
          .product & {
            fill: palette(black, light)
          }
          
          fill: palette(white);
        }
      }
    }
  }
}