.cart-block {
  margin: 2rem 0;
  
  &__line {
    border-bottom: .1rem solid transparentize(palette(other), .8);
    padding: 0 0 1.5rem;
    
    &:nth-child(2n) {
      background-color: transparentize(palette(other), .9);
    }
    
    &:last-child {
      border-bottom: 0 none;
    }
  }
  
  &__image {
  
  }
  
  &__title {
  
  }
  
  &__quanity {
  
  }
  
  &__total {
  
  }
  
  &__remove {
    min-width: 4rem;
    position: relative;
    
    &-tooltip {
      background-color: transparentize(palette(primary), .2);
      border-radius: .5rem;
      color: white;
      left: -11.5rem;
      padding: .5rem 1rem;
      position: absolute;
      text-align: center;
      top: -1.5rem;
      width: 27rem;
      
      @include respond-to(lt-sm) {
        left: auto;
        right: -3rem;
        transform: none;
        top: -3.5rem
      }
      
      @include respond-to(xs) {
        right: -1rem;
      }
      
      a {
        color: lighten(palette(red), 20%);
        cursor: pointer;
        transition: .5s;
        
        &:hover {
          color: palette(red);
        }
      }
      
      span {
        color: palette(primary);
        cursor: pointer;
        position: absolute;
        right: -.7rem;
        top: -.7rem;
      }
    }
  }
  
  &__title {
    line-height: 1.2;
  }
  
  .single-product__quantity {
    margin: 0;
  }
  
  &__checkout-button {
    padding-top: 2.5rem;
  }
  
  img {
    max-width: 7rem;
  }
}

.shopping-cart {
  .button--cart {
    position: relative;
  }
  
  &__counter {
    background-color: lighten(palette(red), 10%);
    border-radius: .5rem;
    color: palette(white);
    left: -1rem;
    line-height: 1;
    margin-right: -1rem;
    padding: .2rem .3rem;
    position: relative;
    top: -.8rem;
  }
}