$single-product: '.single-product';

#{$single-product} {
  padding: 7.5rem 0 10rem;
  
  @include respond-to(lt-sm) {
    padding: 5rem 0;
  }
  
  &__title {
    margin: 2.5rem 0 2rem;
  }
  
  &__add-to-cart {
    margin: 2.5rem 0 5.5rem;
  }
  
  &__quantity {
    border: .2rem solid transparentize(palette(other), .8);
    border-radius: 15rem;
    margin-right: 2rem;
    padding: 0 .5rem;
    
    &--minus,
    &--plus {
      @extend .font_bold;
      
      background: none transparent;
      border: 0 none;
      color: palette(other);
      cursor: pointer;
      font-size: 1.5rem;
      padding: .7rem;
    }
    
    &--input {
      @extend .font_bold;
      
      border: 0 none;
      color: palette(other);
      font-size: 1.5rem;
      height: 3rem;
      text-align: center;
      width: 2.5rem;
    }
  }
  
  &__gallery {
    margin-bottom: 5.5rem;
    
    .gallery-item {
      max-height: 56rem;
      text-align: center;
      
      img {
        display: inline-block;
        width: auto;
      }
    }
  }
  
  &__thumbnails {
    margin-bottom: 3rem;
    padding: 0 2rem;
    
    .gallery-item {
      cursor: pointer;
      opacity: .6;
      text-align: center;
      transition: .5s;
      
      &.active {
        cursor: default;
        opacity: 1;
        
        &:before {
          background: palette(secondary);
          background: -moz-linear-gradient(left, palette(secondary) 0%, palette(secondary, light) 100%);
          background: -webkit-linear-gradient(left, palette(secondary) 0%, palette(secondary, light) 100%);
          background: linear-gradient(to right, palette(secondary) 0%, palette(secondary, light) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='palette(secondary)', endColorstr='palette(secondary, light)', GradientType=1);
        }
      }
      
      &:hover {
        opacity: 1;
      }
      
      &:before {
        background-color: transparentize(palette(other), .8);
        content: "";
        display: inline-block;
        height: .2rem;
        transition: .5s;
        width: 100%;
      }
      
      img {
        display: inline-block;
        max-height: 7.5rem;
        width: auto;
      }
    }
    
    .owl-nav {
      left: -3rem;
      right: -3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      visibility: hidden;
      
      .owl-prev,
      .owl-next {
        padding: 1rem;
        float: left;
        visibility: visible;
        
        &.disabled {
          cursor: default;
          display: none;
        }
      }
      .owl-next {
        float: right;
      }
    }
  }
  
  &__content {
    margin-bottom: 2.5rem;
    
    ul {
      margin-left: 0;
    }
  }
}