.button-listing {
  .button {
    margin: 1rem 2rem 1rem 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  
  &--none {
    color: palette(other);
    font-size: 1.4rem;
    padding: 0 1rem;
    transition: color .5s;
    
    &:hover,
    &:focus {
      color: palette(secondary);
    }
    
  }
  
  &--fill {
    @extend .font_medium;
    
    border-radius: 4rem;
    font-size: 1.3rem;
    letter-spacing: .1em;
    padding: 1.5rem 4rem;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    
    @include respond-to(xs) {
      min-width: 19.5rem;
      padding: 1.5rem 4.5rem;
    }
  }
  
  &--primary {
    
    
    &:hover,
    &:focus {
    
    }
  }
  
  &--secondary {
   
    
    &:hover,
    &:focus {
    
    }
  }
  
  &--icon {
    height: 3.3rem;
    line-height: 3.3rem;
    text-align: center;
    width: 3.3rem;
    padding: 0 0 0 .2rem;
    min-width: 0;
  }
  
  &--white {
    
    
    &:hover,
    &:focus {
    
    }
  }
}

$formSelector: '.form';
#{$formSelector} {
  display: inline-block;
  
  &__item {
    position: relative;
  }
  
  &__input {
    border: 0 none;
    letter-spacing: .1em;
    line-height: 3rem;
  }
  
  &__message {
    &--error {
      color: palette(red);
    }
    
    &--success {
      font-size: 1.5rem;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0 none;
  -webkit-box-shadow: 0 0 0 3rem #133A56 inset;
  -webkit-text-fill-color: palette(white);
}