.button-listing {
  .button {
    margin: 1rem 2rem 1rem 0;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.button {
  border: 0 none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  
  &--none {
    color: palette(other);
    font-size: 1.4rem;
    padding: 0 1rem;
    transition: color .5s;
    
    &:hover,
    &:focus {
      color: palette(secondary);
    }
    
  }
  
  &--fill {
    @extend .font_medium;
    
    border-radius: 4rem;
    font-size: 1.3rem;
    letter-spacing: .1em;
    padding: 1.5rem 4rem;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    
    @include respond-to(xs) {
      min-width: 19.5rem;
      padding: 1.5rem 4.5rem;
    }
  }
  
  &--primary {
    background: palette(secondary);
    background: -moz-linear-gradient(left, palette(secondary) 0%, palette(secondary, light) 100%);
    background: -webkit-linear-gradient(left, palette(secondary) 0%, palette(secondary, light) 100%);
    background: linear-gradient(to right, palette(secondary) 0%, palette(secondary, light) 100%);
    color: palette(white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='palette(secondary)', endColorstr='palette(secondary, light)', GradientType=1);
    
    &:hover,
    &:focus {
      background: palette(secondary, light);
      background: -moz-linear-gradient(left, palette(secondary, light) 0%, palette(secondary) 100%);
      background: -webkit-linear-gradient(left, palette(secondary, light) 0%, palette(secondary) 100%);
      background: linear-gradient(to right, palette(secondary, light) 0%, palette(secondary) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='palette(secondary, light)', endColorstr='palette(secondary)', GradientType=1);
    }
  }
  
  &--secondary {
    background: palette(other);
    background: -moz-linear-gradient(left, palette(other, another-color) 0%, palette(other, another-color-2) 100%);
    background: -webkit-linear-gradient(left, palette(other, another-color) 0%, palette(other, another-color-2) 100%);
    background: linear-gradient(to right, palette(other, another-color) 0%, palette(other, another-color-2) 100%);
    color: palette(white);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='palette(other, another-color)', endColorstr='palette(other,  another-color-2)', GradientType=1);
    
    &:hover,
    &:focus {
      background: palette(other, light);
      background: -moz-linear-gradient(left, palette(other, another-color-2) 0%, palette(other, another-color) 100%);
      background: -webkit-linear-gradient(left, palette(other, another-color-2) 0%, palette(other, another-color) 100%);
      background: linear-gradient(to right, palette(other, another-color-2) 0%, palette(other, another-color) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='palette(other,  another-color-2)', endColorstr='palette(other, another-color)', GradientType=1);
    }
  }
  
  &--cart {
    text-transform: capitalize;
    
    .fa {
      font-size: 1.5rem;
    }
  }
  
  &--icon {
    height: 3.3rem;
    line-height: 3.3rem;
    text-align: center;
    width: 3.3rem;
    padding: 0 0 0 .2rem;
    min-width: 0;
  }
  
  &--white {
    background: palette(white);
    color: palette(secondary, light);
    
    @include box-shadow(0, 0, .5rem, transparentize(palette(other, dark), .82));
    
    &:hover,
    &:focus {
      @include box-shadow(0, 0, 0, transparentize(palette(other, dark), 1));
    }
  }
}

$formSelector: '.form';
#{$formSelector} {
  display: inline-block;
  
  &--subscribe-footer {
    max-width: 44.5rem;
    text-align: left;
    width: 100%;
    
    @include respond-to(lt-md) {
      max-width: none;
    }
    
    @include respond-to(lt-sm) {
      margin-bottom: 5rem;
      text-align: center;
    }
    
    form {
      @include respond-to(gt-sm) {
        background-color: transparentize(palette(white), .95);
        border-radius: 5rem;
        padding: .7rem;
        text-align: left;
      }
    }
    
    #{$formSelector} {
      &__input {
        background-color: transparent;
        margin-left: 1rem;
        max-width: 35rem;
        min-width: 25rem;
        padding: 0 1rem;
        width: 100%;
        
        @include respond-to(lt-sm) {
          background-color: transparentize(palette(white), .95);
          border-radius: 5rem;
          margin-bottom: 2rem;
          max-height: 5rem;
          padding: 1rem 1.7rem;
          text-align: center;
          width: 100%;
        }
      }
      
      &__message {
        &--error {
          margin: .5rem 0 0 2.5rem;
          
          @include respond-to(lt-sm) {
            margin: 1rem 0 0;
          }
        }
        
        &--success {
        
        }
      }
    }
  }
  
  &__item {
    position: relative;
  }
  
  &__input {
    border: 0 none;
    letter-spacing: .1em;
    line-height: 3rem;
  }
  
  &__message {
    &--error {
      color: palette(red);
    }
    
    &--success {
      font-size: 1.5rem;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0 none;
  -webkit-box-shadow: 0 0 0 3rem #133A56 inset;
  -webkit-text-fill-color: palette(white);
}